
body, html, #wrapper {
	width: 100%;
	height: 100%;
}
html {
  box-sizing: border-box;
}
html { 
  background: #4b3c3c;
  background: url(../images/background-4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin:0;
} 
#wrapper {
	position: relative;
}
h1 {
	font-size: 16px;
	line-height: 20px;
	color: #333;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 3px;
}
h3 {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 20px;
}
p {
	font-size: 14px;
	line-height: 18px;
	font-family: Helvetica, sans-serif;
}
#content {
	position: absolute;
	max-width: 1300px;
	height: 100vh;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	margin: auto;
	max-height: 100%;
}
#header {
	position: fixed;
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 30;
	text-align: center;
	padding-top: 15px;
}
.header-content {
	width: 90%;
	margin: 0 auto;
}
.slogan, .nav-div, .logo-div {
	display: inline-block;
	margin: 0;
	width: 30%;
}
.nav-div {
	text-align: right;
}
#nav {
	list-style: none;
}
#nav li {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	color: #ccc;
}
#nav li span {
	font-family: 'Roboto', Helvetica, Arial sans-serif;
	font-weight: 300;
	font-size: 11px;
	margin: 0 10px;
	letter-spacing: 1px;
}
#nav li:first-child {
	margin-left: 0;
}
#nav li:hover {
	color: #fff;
}
#nav li.mobile {
	display: none;
}
.slogan, .slogan-mob {
	color: #fff;
	text-align: center;
}
.slogan-mob {
    display: none;
 }
 .slogan-mob p {
	font-family: 'Roboto', Helvetica, Arial sans-serif;
	font-weight: 300;
	letter-spacing: 2px; 
	font-size: 11px;
 }
.logo-div {
	text-align: left;
}
.logo-cheetah {
	vertical-align: middle;
}
.slogan p {
	font-family: 'Roboto', Helvetica, Arial sans-serif;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 3px;
}
.bottom-backgr, .bottom-backgr1 {
	position: absolute;
	width: 100%;
}
.bottom-backgr {
	z-index: 5;
	bottom: 0;
	height: 35%;
}
.bottom-backgr1 {
	z-index: 5;
	bottom: 10%;
}
.creative-logo {
	position: absolute;
	display: block;
	/*left: 0;*/
	right: 10%;
	/*margin: 0 auto;*/
	top: 100px;
	z-index: 100;
}
.Alex, .Alina, .Cordelia, .Jack, .David, .Champs, .Neil, .Andy {
	position: absolute;
	display: inline-block;
	transition: all 0.5s ease-in-out;
}
.Alex:hover, .Andy:hover, .Alina:hover, .Jack:hover,
.Cordelia:hover, .David:hover, .Champs:hover, .Neil:hover {
	z-index:30;
	bottom: 2%;
}
.Alex {
	bottom: 5%;
	z-index: 20;
	left: 0;
}

.Jack {
	bottom: 5%;
	z-index: 22;
	left: 10%;
}

.Alina {
	bottom: 5%;
	z-index: 17;
	left: 22%;
}

.Cordelia {
	bottom: 5%;
	z-index: 18;
	left: 60%;
}
.David {
	bottom: 5%;
	z-index: 20;
	right: 0;
}
.Champs {
	bottom: 5%;
	z-index: 18;
	left: 72%;
}
.Neil {
	bottom: 5%;
	z-index: 23;
	left: 35%;
}
.Andy {
	bottom: 4%;
	z-index: 24;
	left: 46%;
}
.Mo {
	position: absolute;
	bottom: 22%;
	z-index: 14;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 400px;
	height: 484px;
}

.info-container {
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	margin: auto;
	width: 400px;
    height: 400px;
}
.hello {
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	margin: auto;
	width: 400px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    z-index: 10000;
    font-family: 'Roboto', Helvetica, Arial sans-serif;
    font-size: 22px;
    text-align: center;
    border-radius: 25px;
}
.hello h2 {
	font-weight: 500;
	margin-bottom: 30px;
}
.info {
	position: relative;
	display: block;
	width: 400px;
	height: 410px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 25px;
	z-index: 1000;
	margin: 0 auto;
	display: none;
	padding: 0 20px 20px 20px;
}
.close-me-button, .close-me-button-hello {
	position: absolute;
	right: 22px;
	top: 22px;
	width: 14px;
	height: 14px;
	background: url('../images/x3.png') no-repeat left top;
	-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: .5s;
}

.close-me-button-hello:hover, .close-me-button:hover { 
	/*background-position: -14px 0px;*/
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
 }

.profile-img-div {
	position: absolute;
	top: 40px;
	right: 0; 
    left: 0;
	margin: 0 auto;
	text-align: center;
}

.profile-img {
	  width: 120px;
	  height: 120px;
	  border-radius: 50%;
}
#info-member {
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	padding: 0 30px;
}
.description {
	font-size: 13px;
	line-height: 18px;
}

.mobile-nav-div {
	width: 100%;
	position: absolute;
	top: 70px;
	display:none;
	z-index: 1000;
}

#nav-mob {
	background: rgba(0, 0, 0, 0.6);
	list-style: none;
	margin: 0;
	padding:20px 0;
	color: #fff;
	text-align: center;
}

#nav-mob li:last-child {
	margin-bottom: 0;
}

#nav-mob li {
	text-align: center;
	margin-bottom: 20px;
}



.socials {
	width: 100%;
	position: absolute;
	bottom:20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
	text-align: center;
}

#social-icons {
	list-style: none;
}

#social-icons li {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin: 0 10px;

}

/*#social-icons li:first-child {
	font-family: 'Roboto', Helvetica, Arial sans-serif;
	font-weight: 300;
	font-size: 9px;
	letter-spacing: 3px;
}*/
@media screen and (max-width: 1400px) {
    #nav li.d {
    	display: none;
    }
    #nav li {
		display: block;
	}
    #nav li.mobile {
    	display: block;
    }
}

@media screen and (max-width: 1200px) {
	
    #nav li.d {
    	display: none;
    }
    .logo-div {
    	width: 20%;
    }
    .nav-div {
    	width: 10%;
    }
    .slogan {
    	width: 50%;
    	font-size: 14px;
    }
    .logo-cheetah
    {
    	width: 160px;
    	height: auto;
    }
    .header-content {
    	width: 100%;
    }
}
@media screen and (max-width: 780px) {
	 #header, #nav-mob {
	background: rgba(0, 0, 0, 0.7);
	}
	.slogan {
		display: none;
	}
	.logo-div, .nav-div {
    	width: 40%;
    	display: inline-block;
    }
    .slogan-mob {
    	margin-top: 20px;
    	display: block;
    }
    .slogan-mob p {
    	font-size: 10px;
    }
    #header {
    	height: 100px;
    }
    .mobile-nav-div {
	top: 100px;
    }
    .creative-logo {
    	top: 130px;
    	width: 300px;
    	height: auto;
    }
}
@media screen and (max-width: 500px) {
    #header {
    	height: 110px;
    }
    .mobile-nav-div {
	top: 110px;
    }
    .creative-logo {
    	top: 130px;
    	width: 200px;
    	height: auto;
    }
}

























